<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Geo Feedback</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="map"></div>
<div class="form">
  <div class="formHeader">
    <div class="headerName"></div>
    <button class="headerClose"></button>
  </div>
  <div class="formBody">
    <div class="formComments">
      <ul class="list"></ul>
    </div>
    <div class="formReview">
      <div class="reviewTitle">Ваш отзыв</div>
      <div class="reviewForm">
        <input type="text" class="reviewFormName" placeholder="Ваше имя"/>
        <input type="text" class="reviewFormPlace" placeholder="Укажите место"/>
        <textarea class="reviewFormText" placeholder="Поделитесь впечатлениями"></textarea>
        <input type="submit" class="addButton" value="Добавить"/>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
